<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Upload accounts</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-8">
            <form action="/upload-account-csv" method="post" enctype="multipart/form-data">
                <input type="file" name="csvfile"><br>
                <input type="submit">
            </form>
        </div>
    </div>
</div>