<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>

    {{>page_header}}
    <link rel="stylesheet" href="/css/login-page.css">
</head>
<body>

<main>
    <div class="index-page">
        {{{body}}}
    </div>
</main>

{{>bootstrap_js}}
</body>
</html>
