<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>

    {{>page_header}}
    <link rel="stylesheet" href="/css/login-page.css">
    {{#if google_id}}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{google_id}}"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{google_id}}');
        </script>

    {{/if}}
</head>
<body>

<main>
    <div class="index-page">
        {{{body}}}
    </div>
</main>

{{>bootstrap_js}}
</body>
</html>
