<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>

    {{>page_header}}
    <link rel="stylesheet" href="/css/simpleRagStatus.css">

    {{#if google_id}}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-76850844-10"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{google_id}}');
        </script>

    {{/if}}
</head>
<body>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<header>
    {{>menubar this}}
</header>
<main>
    {{{body}}}
</main>
{{>bootstrap_js}}

<footer style="margin-top: 30px">
    <div>
        <p class="copyright text-muted small">Copyright &copy; G.Pimblott 2019. All Rights Reserved</p>
    </div>
</footer>
</body>
</html>

