<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>

    {{>page_header}}
    <link rel="stylesheet" href="/css/simpleRagStatus.css">
</head>
<body>

<header>
    {{>reportMenubar this}}
</header>
<main>
    {{{body}}}
</main>

{{>bootstrap_js}}
</body>
</html>
