<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-2 myCentre">
                <div>
                    <img src="/images/android-chrome-512x512.png" width="150" style="margin-top: 25pt">
                </div>
            </div>
            <div class="col-md-10 myCentre">
                <div>
                    <h1>Example Application</h1>
                    <p>Does something useful hopefully</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Do something</h2>
            <p>Some stuff that this application does</p>
            <ul>
                <li><a href="/">option</a></li>
                <li><a href="/">option</a></li>
                <li><a href="/">option</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Something else</h2>
            <p>View stories based on labels</p>
            <ul>
                <li><a href="/">option</a></li>
                <li><a href="/">option</a></li>
                <li><a href="/">option</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Another view</h2>
            <p>Some text</p>
            <ul>
                <li><a href="/">option</a></li>
                <li><a href="/">option</a></li>
                <li><a href="/">option</a></li>
            </ul>
        </div>
    </div>

    <hr>
