<div class="container-fluid">

    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-5">
            <div class="reportTitle"><h2>Manage Reports</h2></div>
        </div>
    </div>
    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-5">
            <table id="report_table" class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Actions</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {{#each project_reports}}
                    <tr>
                        <td></td>
                        <td>{{formatDate this.report_date}}</td>
                        <td>{{this.title}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
