h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}


h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    margin: 0 0 24px;
    text-align: center;
}


p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 0 24px;
}


#rag_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#rag_table td, #rag_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#rag_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#rag_table tr:hover {
    background-color: #ddd;
}

#rag_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: lightgray;
    color: black;
}

.report_table {
    width : 50%;
}

.rag_status {
    text-align: center;
    width: 100px;
}

td.Amber {
    background: lemonchiffon;
}

td.Green {
    background: lightgreen;
}

td.Red {
    background: lightpink;
}