body {
    font-family: 'Raleway', sans-serif;
}


footer {
    padding: 30px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 5px 0 0 30px;
}

.navbar-color {
    background-color: darkslategrey;
}

.navbar  a {
    color: white;
}

.dropdown-menu a {
    color: black;
}

td.Amber {
    background: lemonchiffon;
}

td.Green {
    background: lightgreen;
}

td.Red {
    background: lightpink;
}

.rag_status {
    text-align: center;
    width: 80px;
}

.projectName {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 0px;
    text-align: center;
    text-transform: uppercase;
}

.bigChange {
    color: red;
}

.projectDescription {
    margin-bottom: 20px;
}

.reportTitle {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 20px;
    text-align: center;
    text-transform: uppercase;
}

.reportDescription {
    margin-bottom: 20px;
}

.textOnLeft {
    float:left;
    width:90%;
}

.iconOnRight {
    float:right;
    width:10%;
}

.dateFixedWidth {
    width:120px;
}

.actionsFixedWidth {
    width:80px;
}



