body {
    font-family: 'Raleway', sans-serif;
}

table {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    /*font-weight: 300;*/
}

footer {
    padding: 30px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 5px 0 0 30px;
}

.navbar-color {
    background-color: slategray;
    color: white;
}

.navbar a {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
    font-size: 14px;
}

.dropdown-menu a {
    color: black;
    font-size: 14px;
}

.breadcrumb {
    font-size: 14px;
}

.Amber {
    background-color: lemonchiffon;
}

.Green {
    background-color: lightgreen;
}

.Red {
    background-color: lightpink;
}

.Open {
    background-color: lightgreen;
    color: green;
    font-weight: bold;
}

.rag_status {
    text-align: center;
    width: 80px;
}

.projectName {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 0px;
    text-align: center;
    text-transform: uppercase;
}

.bigChange {
    color: red;
}

.projectDescription {
    margin-bottom: 20px;
}

.pageTitle {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 5px;
    text-align: center;
    text-transform: uppercase;
}

.pageSubTitle {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px;
    text-align: center;
    /*text-transform: uppercase;*/
}

.reportDescription {
    margin-bottom: 20px;
}

.textOnLeft {
    float: left;
    width: 90%;
}

.iconOnRight {
    float: right;
    width: 10%;
}

.dateFixedWidth {
    width: 100px;
}

.actionsFixedWidth {
     width: 40px;
     align-content: center;
 }

.actionsFixedWidthXL {
    width: 80px;
    align-content: center;
}

.project_code_column {
    width: 80px;
}

.team_column {
    width: 370px;
}

.traffic_light {
    width:33.3%;
    text-align:center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

@media print {
    * {
        color-adjust: exact;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    #headerButtons {
        visibility: hidden;
        display: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .dontPrint {
        display: none;
    }
}



