<div class="container-fluid">
    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-8">
            <div class="pageTitle">Add new project</div>
            <form action="/project/" method="post">
                <div class="form-group">
                    <label for="projectName">Name</label>
                    <input type="text" class="form-control" name="name" id="projectName" aria-describedby="nameHelp"
                           placeholder="Project name">
                    <small id="nameHelp" class="form-text text-muted">Name of the project</small>
                </div>

                <div class="form-group">
                    <label for="projectCode">Code</label>
                    <input type="text" class="form-control" name="code" id="projectCode" aria-describedby="codeHelp"
                           placeholder="Project code">
                    <small id="codeHelp" class="form-text text-muted">Code assigned to the project</small>
                </div>

                <div class="form-group row">
                    <label for="groupSelect" class="col-sm-2 col-form-label">Group</label>
                    <select name="projectGroup" id="groupSelect">
                        {{#each groups }}
                            <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="form-group row">
                    <label for="phaseSelect" class="col-sm-2 col-form-label">Phase</label>
                    <select name="phase" id="phaseSelect">
                        {{#each phases }}
                            <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>


                <div class="form-group">
                    <label for="descriptionInput">Description</label>
                    <textarea rows="3"
                              class="form-control"
                              name="description"
                              id="descriptionInput"
                              placeholder="Description of the project"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Add project</button>
            </form>
        </div>
    </div>
</div>
