<script src="/js/dateInputDefaultValue.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/report">Reports</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add report</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col text-center"><div class="pageTitle">Add Report</div></div>
    </div>
    <div class="row justify-content-md-center align-items-center">
        <div class="col col-md-5">
            <form action="/report" method="post">
                <div class="form-group">
                    <label for="dateInput">Report date</label>
                    <input type="date" class="form-control" name="reportDate" id="dateInput" aria-describedby="dateHelp"
                           placeholder="Enter report date">
                    <small id="dateHelp" class="form-text text-muted">The date that the report represents</small>
                </div>
                <div class="form-group">
                    <label for="descriptionInput">Description</label>
                    <textarea rows="3"
                              class="form-control"
                              name="reportDescription"
                              id="descriptionInput"
                              placeholder="Description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add report</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(function() {
        document.getElementById('dateInput').value = new Date().toDateInputValue();
    });
</script>
